result .quest-nav ul{
	padding: 0;
	list-style-type: none;
}

result .quest-nav li{
	display: inline-block;
	padding:5px;
	background-color: #BDBDBD;
	border-radius: 5px;
	border:1px solid gray;
}

result .quest-nav .right{
	background-color: #64DD17;
}

result .quest-nav .right:hover{
	background-color: #76FF03;
}

result .quest-nav .error{
	background-color: #B71C1C;
}

result .quest-nav .error:hover{
	background-color:#D50000;
}